@use "../custom-variables" as v;

.home__banner {
  align-items: center;
  background: url("/assets/website/images/home/banner.webp") no-repeat center;
  background-size: cover;
  display: flex;
  height: 900px;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: -1;

  .home__banner-ladrilho {
    background: url("/assets/website/images/home/ladrilho.svg");
    background-size: 100% auto;
    height: 100%;
    left: 5%;
    margin-left: 100px;
    position: absolute;
    width: 150px;
  }

  .home__banner-title {
    background-color: rgba(v.$tangerine, 80%);
    color: white;
    font-size: 6rem;
    padding: 30px;
  }
}