@use "../custom-variables" as v;

.home__container {
  color: v.$bistre;
  padding: 150px 0;
  position: relative;

  .home__title {
    font-size: 3.5rem;
  }

  .home__description {
    font-size: 1.2rem;
  }

  .home__pattern--circle {
    background: url("/assets/website/images/home/pattern-circle.svg") no-repeat;
    background-size: 100% auto;
    height: 150px;
    left: 5%;
    position: absolute;
    top: 50px;
    width: 300px;
    z-index: -1;
  }

  .home__pattern--arrows {
    background: url("/assets/website/images/home/pattern-arrows.svg") no-repeat;
    background-size: 100% auto;
    bottom: 20px;
    height: 80px;
    position: absolute;
    right: 5%;
    width: 300px;
    z-index: -1;
  }
}