@use "../custom-variables" as v;
@use "sass:color";
@import "nav-menu";

.header {
  align-items: center;
  background-color: v.$bistre;
  display: flex;
  height: 100px;
  justify-content: center;
  position: absolute;
  width: 100%;
}