{% extends "base.html.twig" %}

{% block content %}
    <div class="home">
        <div class="home__banner">
            <div class="home__banner-ladrilho"></div>
            <h1 class="home__banner-title">Racista não me trisca</h1>
        </div>
        <div class="container home__container d-flex flex-wrap align-content-center gap-5 justify-content-center">

            <div class="home__pattern--circle"></div>
            <div class="home__pattern--arrows"></div>

            <div class="row w-100">
                {% if content.video %}
                    <div class="col-6 d-flex justify-content-end">
                        <video width="480"
                               src="{{ content.video.url }}"
                               poster="{{ content.video.thumbnails['360x202'] }}"
                               controls
                        >
                            Your browser does not support the video tag.
                        </video>
                    </div>
                {% endif %}

                <div class="home__description col-6">
                    <h1 class="home__title w-100 text-center my-3">{{ content.title }}</h1>

                    {{ content.article|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
