{% extends "base.html.twig" %}

{% block content %}
    <div class="home">
        <div class="home__banner">
            <div class="home__banner-ladrilho"></div>
            <h1 class="home__banner-title">Racista não me Trisca!</h1>
        </div>
        <div class="container home__container">

            <div class="home__pattern--circle"></div>
            <div class="home__pattern--arrows"></div>

            <div class="home__content">
                {% if content.video %}
                    <div class="content__video">
                        <video
                                src="{{ content.video.url }}"
                                poster="{{ content.video.thumbnails['300x169'] }}"
                                controls
                        >
                            Your browser does not support the video tag.
                        </video>
                    </div>
                {% endif %}

                <div class="content__description">
                    <h1 class="title-1">{{ content.title }}</h1>

                    {{ content.article|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
