<div class="splide reels">
    <div class="splide__track">
        <ul class="splide__list">
            {% for element in content.reels %}
                <li class="splide__slide"
                    data-splide-html-video="{{ element.url }}"
                >
                    {% if element.thumbnails %}
                        <img src="{{ element.thumbnails['1200x630'] }}">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>