{% for element in content.smartContent %}
    {% if element.thumbnail %}
        <img src="{{ element.thumbnail }}" alt="Thumbnail">
    {% endif %}
    <h1>{{ element.title }}</h1>
    <div>
        {{ element.description }}
    </div>
{% endfor %}
