{% for element in content.visualMedias %}
    <div>
        {% if element.entity.type.name == 'image' %}
            <img src="{{ element.thumbnails['sulu-400x400'] }}" alt="">
        {% else %}
            <video width="480"
                   src="{{ element.url }}"
                   poster="{{ element.thumbnails['300x169'] }}"
                   controls></video>
        {% endif %}
    </div>
{% endfor %}
